BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk_in" SITE "5" ;
LOCATE COMP "reset" SITE "1" ;
IOBUF PORT "clk_in" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "clk_in2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "reset" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "debug1" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON SLEWRATE=FAST ;
IOBUF PORT "debug2" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON SLEWRATE=FAST ;
IOBUF PORT "debug3" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON SLEWRATE=FAST ;
IOBUF PORT "debug4" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON SLEWRATE=FAST ;
IOBUF PORT "ps1_c" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "ps1_d" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "ps2_c" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "ps2_d" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "ps3_c" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "ps3_d" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "ps4_c" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "ps4_d" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "usb1_nout" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "usb1_pout" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "usb2_nout" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "usb2_pout" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "usb3_nout" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "usb3_pout" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "usb4_nout" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "usb4_pout" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "usb5_nout" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON DRIVE=24 SLEWRATE=FAST ;
IOBUF PORT "usb5_pout" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON DRIVE=24 SLEWRATE=FAST ;
IOBUF PORT "usb6_nout" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON DRIVE=24 SLEWRATE=FAST ;
IOBUF PORT "usb6_pout" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON DRIVE=24 SLEWRATE=FAST ;
LOCATE COMP "debug1" SITE "68" ;
LOCATE COMP "debug2" SITE "69" ;
LOCATE COMP "debug3" SITE "70" ;
LOCATE COMP "debug4" SITE "71" ;
LOCATE COMP "ps1_c" SITE "73" ;
LOCATE COMP "ps1_d" SITE "74" ;
LOCATE COMP "ps2_c" SITE "75" ;
LOCATE COMP "ps2_d" SITE "76" ;
LOCATE COMP "ps3_c" SITE "77" ;
LOCATE COMP "ps3_d" SITE "78" ;
LOCATE COMP "ps4_c" SITE "81" ;
LOCATE COMP "ps4_d" SITE "82" ;
LOCATE COMP "usb1_nout" SITE "83" ;
LOCATE COMP "usb1_pout" SITE "84" ;
LOCATE COMP "usb2_nout" SITE "85" ;
LOCATE COMP "usb2_pout" SITE "86" ;
LOCATE COMP "usb3_nout" SITE "91" ;
LOCATE COMP "usb3_pout" SITE "92" ;
LOCATE COMP "usb4_nout" SITE "93" ;
LOCATE COMP "usb4_pout" SITE "94" ;
LOCATE COMP "usb5_pout" SITE "96" ;
LOCATE COMP "usb6_nout" SITE "67" ;
IOBUF PORT "key1" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "key2" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "leds" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "leds" BANK 0 ;
IOBUF PORT "leds[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON DIFFDRIVE="NA" ;
IOBUF PORT "leds[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "leds[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "leds[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "leds[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "leds[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "leds[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "leds[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON ;
LOCATE COMP "leds[0]" SITE "97" ;
LOCATE COMP "leds[1]" SITE "98" ;
IOBUF PORT "dis1_pix" IO_TYPE=LVCMOS33D PULLMODE=NONE CLAMP=ON SLEWRATE=FAST DRIVE=24 ;
IOBUF PORT "dis1_sync" IO_TYPE=LVCMOS33 PULLMODE=NONE CLAMP=ON SLEWRATE=FAST ;
LOCATE COMP "dis1_pix" SITE "110" ;
LOCATE COMP "dis1_sync" SITE "40" ;
LOCATE COMP "dis2_pix" SITE "114" ;
IOBUF PORT "dis2_pix" IO_TYPE=LVCMOS33D PULLMODE=NONE SLEWRATE=FAST CLAMP=ON DRIVE=24 ;
IOBUF PORT "dis2_sync" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST CLAMP=ON ;
LOCATE COMP "dis2_sync" SITE "41" ;
LOCATE COMP "debug5" SITE "143" ;
IOBUF PORT "debug5" IO_TYPE=LVCMOS33D ;
IOBUF PORT "debug6" IO_TYPE=LVCMOS33D PULLMODE=NONE CLAMP=ON SLEWRATE=FAST DRIVE=24 ;
LOCATE COMP "debug6" SITE "141" ;
LOCATE COMP "usb6_pout" SITE "65" ;
IOBUF PORT "test1[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "test1[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "test1[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "test1[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "test1[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "test1[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "test1[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "test1[7]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "usb5_nout" SITE "95" ;
LOCATE COMP "leds[7]" BANK 0 ;
LOCATE COMP "led7" SITE "107" ;
IOBUF PORT "led7" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "xor_out[0]" IO_TYPE=LVCMOS33D SLEWRATE=FAST CLAMP=ON ;
IOBUF PORT "xor_out[1]" IO_TYPE=LVCMOS33D SLEWRATE=FAST CLAMP=ON ;
IOBUF PORT "xor_out[2]" IO_TYPE=LVCMOS33D SLEWRATE=FAST CLAMP=ON ;
IOBUF PORT "xor_out[3]" IO_TYPE=LVCMOS33D SLEWRATE=FAST CLAMP=ON ;
IOBUF PORT "xor_out[4]" IO_TYPE=LVCMOS33D SLEWRATE=FAST CLAMP=ON ;
IOBUF PORT "xor_out[5]" IO_TYPE=LVCMOS33D CLAMP=ON ;
IOBUF PORT "xor_out[6]" IO_TYPE=LVCMOS33D CLAMP=ON ;
IOBUF PORT "xor_out[7]" IO_TYPE=LVCMOS33D CLAMP=ON ;
IOBUF PORT "iot_out_100" IO_TYPE=LVCMOS33D SLEWRATE=FAST CLAMP=ON ;
IOBUF PORT "iot_out_114" IO_TYPE=LVCMOS33D SLEWRATE=FAST CLAMP=ON ;
IOBUF PORT "iot_out_120" IO_TYPE=LVCMOS33D SLEWRATE=FAST CLAMP=ON ;
IOBUF PORT "iot_out_133" IO_TYPE=LVCMOS33D SLEWRATE=FAST CLAMP=ON ;
IOBUF PORT "iot_out_200" IO_TYPE=LVCMOS33D SLEWRATE=FAST CLAMP=ON ;
IOBUF PORT "iot_out_240" IO_TYPE=LVCMOS33D SLEWRATE=FAST CLAMP=ON ;
IOBUF PORT "iot_out_266" IO_TYPE=LVCMOS33D SLEWRATE=FAST CLAMP=ON ;
IOBUF PORT "iot_out_400" IO_TYPE=LVCMOS33D SLEWRATE=FAST CLAMP=ON ;
LOCATE COMP "iot_out_100" SITE "34" ;
LOCATE COMP "iot_out_114" SITE "32" ;
LOCATE COMP "iot_out_120" SITE "27" ;
LOCATE COMP "iot_out_133" SITE "25" ;
LOCATE COMP "iot_out_200" SITE "23" ;
LOCATE COMP "iot_out_240" SITE "21" ;
LOCATE COMP "iot_out_266" SITE "19" ;
LOCATE COMP "iot_out_400" SITE "15" ;
IOBUF PORT "br1_shout" IO_TYPE=LVCMOS33D SLEWRATE=FAST CLAMP=ON DIFFRESISTOR=OFF ;
IOBUF PORT "br2_shout" IO_TYPE=LVCMOS33D SLEWRATE=FAST CLAMP=ON ;
IOBUF PORT "br3_shout" IO_TYPE=LVCMOS33D SLEWRATE=FAST CLAMP=ON ;
LOCATE COMP "br1_shout" SITE "139" ;
LOCATE COMP "br2_shout" SITE "141" ;
LOCATE COMP "br3_shout" SITE "143" ;
LOCATE COMP "br4_shout" SITE "107" ;
LOCATE COMP "br5_shout" SITE "105" ;
IOBUF PORT "br4_shout" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST CLAMP=ON DIFFRESISTOR=OFF ;
IOBUF PORT "br5_shout" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST CLAMP=ON ;
IOBUF PORT "br6_shout" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST CLAMP=ON ;
LOCATE COMP "br6_shout" SITE "100" ;
LOCATE COMP "br4_shin" SITE "106" ;
LOCATE COMP "br5_shin" SITE "104" ;
LOCATE COMP "br6_shin" SITE "99" ;
IOBUF PORT "br4_shin" IO_TYPE=LVCMOS25R33 PULLMODE=NONE DIFFRESISTOR=OFF ;
IOBUF PORT "br5_shin" IO_TYPE=LVCMOS25R33 PULLMODE=NONE ;
IOBUF PORT "br6_shin" IO_TYPE=LVCMOS25R33 PULLMODE=NONE ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
BANK 4 VCCIO 3.3 V;
BANK 5 VCCIO 3.3 V;
